/* map.css */
.legend {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
  }
  
  .legend-item {
    width: 100%;
    height: 20px;
    border: 1px solid black;
  }
  
  .legend-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    grid-gap: 10px;
  }